<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<!-- Our component definition-->
<dom-module id="google-analytics">

  <!-- css-->
  <style>
  </style>

  <!--html content -->
  <template>
    <iron-ajax
      auto
      url="http://localhost:8080/adm/services/ga/account"
      params="{{ajaxParams}}"
      handle-as="json"
      on-response="handleResponse"
      on-error="handleError"
      debounce-duration="300">
    </iron-ajax>
  </template>

  <script>

    Polymer({
      is: "google-analytics",
      properties:{
        campusIds:Array,
        rcIds:Array,
        appId:String,
        env:String,
        ajaxParams: {
          type: String,
          computed: 'processParams(campusIds, rcIds, appId, env)'
        }
      },
      processParams: function(campusIds, rcIds, appId, env){
        return {
          campusIds: campusIds,
          rcIds: rcIds,
          appId: appId,
          env: env
        };
      },
      ready: function(){
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      },
      handleResponse: function(e, detail){
        detail.response.forEach(function(account, index){
          ga('create', account, 'auto', {'name':index , 'allowLinker':true});
          ga(index + '.send', 'pageview');
        });
      },
      handleError: function(e, error){
        console.log(error);
      }
    });
  </script>

</dom-module>
