<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<!-- Our component definition-->
<dom-module id="mnscu-institution-select">
  <!-- css-->
  <style>
  </style>

  <!--html content -->
  <template>
    <iron-ajax
      auto
      url="http://localhost:8080/college-search/public/services/institution/list"
      handle-as="json"
      last-response="{{ajaxResponse}}"
      on-error="handleError"
      debounce-duration="300">
    </iron-ajax>

    <option value=''>Please select...</option>
      <template is="dom-repeat" items="{{ajaxResponse}}">
        <option value="{{item.rcId}}" selected="{{_selectedValue(item.rcId)}}">{{item.name}}</option>
      </template>
  </template>

  <script>

    Polymer({
      is: "mnscu-institution-select",
      extends: "select",
      properties: {
        selectedValue: String
      },
      _selectedValue: function(rcId){
        if(rcId == this.selectedValue){
          return 'selected';
        };
      },
      handleError: function(e, error){
        console.log(error);
      }
    });
  </script>

</dom-module>
